.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--sans-serif);
    margin: 4rem 0 8rem;
    text-wrap: balance;
    text-align: center;
}

.hero h1 {
    margin: 1rem 0;
    padding: 1rem 0;
    max-width: none;
    font-size: 14vw;
    font-weight: 900;
    line-height: 1;
    background: linear-gradient(30deg, var(--theme-foreground-focus), currentColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero h2 {
    margin: 0;
    max-width: 34em;
    font-size: 20px;
    font-style: initial;
    font-weight: 500;
    line-height: 1.5;
    color: var(--theme-foreground-muted);
}

@media (min-width: 640px) {
    .hero h1 {
        font-size: 90px;
    }
}

@media (max-width: 768px) {
    .grid-cols-2 {
        grid-template-columns: 1fr !important;
    }
}

.dashboard {
    max-width: ${width} px;
    margin: 0 auto;
    font-family: system-ui, sans-serif;
    border: 1px solid var(--theme-foreground-muted);
    padding: 0 0px;
}

.chart-container {
    background: ${text_fill};
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

svg.custom-plot {
    /*background-color: darkslateblue;*/
    /*color: yellow;*/
    /*padding: 16px;*/
}

svg.custom-plot g[aria-label='y-axis'] {
    font-size: 16;
}

svg.custom-plot g[aria-label='tip'] text {
    fill: black;
}